<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/coverage.xml"/>
      <html outputDirectory="build/logs/coverage"/>
      <text outputFile="build/logs/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
